.logo , .description{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.logo{
    padding: 3px;
    line-height: 36px;
    font-size: 30px;
    margin-top: 62px;
    font-weight: bold;
}
.description{
    line-height: 30px;
    font-size: 22px;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
    margin-top: -1px;

}
.uploadfilecontainer {
    height: 300px;
    width: 1072px;
    margin-bottom: 10px;
    margin-top: 40px;
    border: 7px dashed #075E54;
    padding:5px;
    background-color: #128C7E  !important;
    margin-left: 35px;

  }

  .uploadfilecontainer p {
    line-height: 24px;
    font-size: 26px;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    padding-top: 12px;
    text-align: center;
    color: white;
    padding-top: 120px;

  }
.cardspalce{
    width: 100%;
    margin-top: 100px;
}

#p1{
    font-weight: bold;
    text-align: center;
    padding: 12px 0px;
}




#p2{
    text-align: justify;
    line-height: 24px;
    font-size: 16px;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    color: rgb(33, 33, 33);
    text-align: center;
    margin: 0px;
    padding: 0px 24px;
    max-width: 100%;

}

.ct{
    margin-bottom: 64px;
}

hr{
    border: 0;
  clear:both;
  width: 100%;
  background-color:rgb(224, 224, 224);
  height: 1px;

}
#hh3{
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 600;
}
li{
    line-height: 24px;
    font-size: 16px;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    display: flex;
    padding: 6px 0px;
}
ol li {
    display:block;

}
.nb{
    font-weight: bold;
    margin-right: 5px;
}
.imgOcr{
    height: 180px;
    width: 400px;
}

#iconsmall{
    padding: 5px;

}
#cbtn{
    margin-right: 10px;
}
html,body{

    max-width: 100%;
    overflow-x: hidden;
}

.card-body{
    text-align: center;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: transparent;
  }
  ::ng-deep .mat-form-field{
    width: 200px !important;
    margin: -5px !important;

  }

#editbtn{

      margin-right: 11px;
      margin-top: 15px;
  }
#edit{
    border: none !important;
      background-color: transparent !important;
}

.delete{
    background: transparent;
    border: none;
    cursor: pointer;
    color: black;
    width: 15px;
    margin-left: 1090px;

}
span .material-icons { font-size: 48px;
    cursor: pointer;
}
.card{
    height: 516.6px;
    width: 514px;
}
.card img{
    margin-left: 142px;
    margin-top: 20px;
}

.autocomplete{
    width: 100px !important;

  }
#selectedit{
    margin-left: 79px;

}
#champmarge{
    margin-left: 45px;

}
.sub{
    text-align: center;
  }

  #b4{
    margin-right: 15px;
    margin-top: 5px;
    height: 48px;
    width: 155.5px;
    letter-spacing: 1px;
    font-weight: 900;
    background-color:#128C7E;
    color: white;

}
#sficon{
    width: 180px;
    height: 113px;
}
.login-form{
    box-shadow: 0px 0px 10px #888;
padding: 20px;
}
::ng-deep .warning{
    background: #04844b;
    color:white;
 }



.card-horizontal {
    margin-top: 25%;

 }