<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TEST</title>
</head>
<body>
<app-header></app-header>
<div class="container" >
  <div class="logo"> <img src="../assets/images/logoconv.PNG" alt="logomin"> Business Card Converter</div>
  <div class="description">Numériser des cartes visites </div>
<div class="row r ">
  <div class="col-10" [hidden]="isHidden">
  <div *ngIf="showUploadContainer" class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop (onFileDropped)="uploadFile($event)">
    <p>{{text}}</p>
    <input hidden type="file" #fileInput (change)="uploadFile($event.target.files)">
  </div>
</div>
<div class="col-2">
  <button class="delete" [hidden]="cross">
    <span class="material-icons" (click)="deleteAttachment(i)">
    close
    </span></button>
  </div>
</div>
<div class="placeocr" *ngIf="isShown">
  <div class="row justify-content-center">
      <div class="col">
        <div class="cto1">
          <div class="row justify-content-center">

            <div class="card border-secondary" style="height: 610px;">
              <div class="card-horizontal">
              <img  id="carte_visite" *ngIf="imgURL" src="{{imgURL}}" width="281px" height="174px">
              <div class="card-body">
                <h5 class="card-title">Start Converting !!</h5>
                <p class="card-text">{{uploadMessage}}</p>
                <div  class="files-list" *ngFor="let file of uploadedFileNames;let i= index">
                </div>
                <button mat-raised-button id="b4" [disabled]="selectedFile===null" (click)="activateOCR()">start ocr</button>

              </div>
            </div>
          </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="cto2">
          <div class="row ">
            <div class="card border-secondary" style="width: 500px;height: 610px;">
              <div class="card-body">
                  <h5 class="card-title">Results:</h5>
                  <div class="content">
                    <form #f='ngForm'>
                    <div class="row justify-content-center">
                      <div class="col-10">
                        <div class="md-form form-group" id="selectedit">
                          <mat-form-field appearance="fill" *ngIf="hide===true">
                              <mat-label>Full Name</mat-label>
                              <mat-select name="fullName" [(ngModel)]="fullName" (selectionChange)="printVal()">
                                <mat-option *ngFor="let champ of resData?.listesCh" [value]="champ">
                                  {{champ}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="row justify-content-center" *ngIf="hide===false"  >
                          <div class="col" id="champmarge">
                            <mat-form-field class="autocomplete" *ngIf="results">
                              <mat-label>firstName</mat-label>
                              <input type="text" matInput   [(ngModel)]="selectedFirstName" [matAutocomplete]="auto"
                              [formControl]="searchText" >
                              <mat-autocomplete #auto="matAutocomplete" >
                                <mat-option *ngFor="let item of results | async " [value]="item._source.firstname">
                                  {{item._source.firstname}}
                                </mat-option>
                              </mat-autocomplete>

                            </mat-form-field>
                          </div>
                          <div class="col">
                            <mat-form-field class="autocomplete" *ngIf="results2">
                              <mat-label>lastName</mat-label>
                              <input type="text" matInput   [matAutocomplete]="auto" [(ngModel)]="selectedLastName"
                              [formControl]="searchText2">
                              <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let item of results2 | async " [value]="item._source.lastname">
                                  {{item._source.lastname}}
                                </mat-option>
                              </mat-autocomplete>
                            </mat-form-field>
                          </div>
                        </div>


                      </div>
                      <div class="col" id="editbtn">
                        <button  id='edit'[disabled]="fullName===''||isRight!==true" (click)="showit()">
                                      <i class="material-icons">
                                        edit
                                      </i>
                                    </button>
                      </div>
                      <div class="w-100"></div>
                      <div class="col-10">
                        <div class="md-form form-group" id="selectedit">
                          <mat-form-field appearance="fill" *ngIf="hide2===true">
                              <mat-label>Company Name</mat-label>
                              <mat-select name="companyName" [(ngModel)]="companyName" (selectionChange)="printVal2()">
                                <mat-option *ngFor="let champ of resData?.listesCh" [value]="champ">
                                  {{champ}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="row justify-content-center" *ngIf="hide2===false">
                          <div class="col-10">
                            <div class="md-form form-group" id="selectedit" >
                          <mat-form-field class="example-full-width" *ngIf="results3">
                            <mat-label>CompanyName</mat-label>
                            <input type="text" matInput name="selectedCompanyName" [(ngModel)]="selectedCompanyName"  [matAutocomplete]="auto"
                            [formControl]="searchText3">
                            <mat-autocomplete #auto="matAutocomplete" >
                              <mat-option *ngFor="let item of results3 | async " [value]="item._source.company">
                                {{item._source.company}}
                              </mat-option>
                            </mat-autocomplete>

                          </mat-form-field>
                        </div>
                      </div>

                        </div>
                      </div>
                      <div class="col" id="editbtn">
                        <button  id='edit'  [disabled]="companyName===''" (click)="showit2()">
                          <i class="material-icons">
                            edit
                          </i>
                        </button>

                      </div>

                      <div class="w-100"></div>
                      <div class="col-10">
                        <div class="md-form form-group">
                          <mat-form-field class="example-full-width">
                              <mat-label>Email </mat-label>
                              <input matInput name="email"  [ngModel]="resData?.email">
                            </mat-form-field>
                        </div>

                      </div>
                      <div class="w-100"></div>
                      <div class="col-10">
                        <div class="md-form form-group">
                          <mat-form-field class="example-full-width">
                              <mat-label>Website</mat-label>
                              <input matInput name="website" [ngModel]="resData?.website">
                            </mat-form-field>
                        </div>
                      </div>
                      <div class="w-100"></div>
                      <div class="col-10">
                        <div class="md-form form-group">
                          <mat-form-field appearance="fill">
                              <mat-label>Phone Number</mat-label>
                              <mat-select name="phone" [(ngModel)]="phone" (selectionChange)="printVal3()">
                                <mat-option *ngFor="let champ of resData?.listesNb" [value]="champ">
                                  {{champ}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                      </div>
                      </div>
                      <div class="w-100"></div>
                      <div class="col-10">
                        <div class="md-form form-group">
                          <mat-form-field appearance="fill">
                              <mat-label>Industry</mat-label>
                              <mat-select name="Industry" [(ngModel)]="Industry" (selectionChange)="printVal4()">
                                <mat-option value="--None--">--None--</mat-option>
                                <mat-option value="Agriculture">Agriculture</mat-option>
                                <mat-option value="Apparel">Apparel </mat-option>
                                <mat-option value="Banking"> Banking</mat-option>
                                <mat-option value="Biotechnology"> Biotechnology</mat-option>
                                <mat-option value="Chemical">Chemical </mat-option>
                                <mat-option value="Communications">Communications </mat-option>
                                <mat-option value="Construction"> Construction</mat-option>
                                <mat-option value="Consulting"> Consulting</mat-option>
                                <mat-option value="Education"> Education </mat-option>
                                <mat-option value="Electronics"> Electronics</mat-option>
                                <mat-option value="Energy">Energy </mat-option>
                                <mat-option value="Engineering"> Engineering</mat-option>
                                <mat-option value="Entertainment">Entertainment </mat-option>
                                <mat-option value="Environmental"> Environmental</mat-option>
                                <mat-option value="Finance">Finance </mat-option>
                                <mat-option value="Food & Beverage">Food & Beverage </mat-option>
                                <mat-option value="Government"> Government</mat-option>
                                <mat-option value="Healthcare"> Healthcare</mat-option>
                                <mat-option value="Hospitality"> Hospitality</mat-option>
                                <mat-option value="Insurance">Insurance </mat-option>
                                <mat-option value="Machinery">Machinery </mat-option>
                                <mat-option value="Manufacturing">Manufacturing </mat-option>
                                <mat-option value="Media">Media </mat-option>
                                <mat-option value="Not For Profit"> Not For Profit</mat-option>
                                <mat-option value="Recreation">Recreation </mat-option>
                                <mat-option value="Retail">Retail </mat-option>
                                <mat-option value="Shipping">Shipping </mat-option>
                                <mat-option value="Technology"> Technology</mat-option>
                                <mat-option value="Telecommunications">Telecommunications </mat-option>
                                <mat-option value="Transportation">Transportation </mat-option>
                                <mat-option value="Utilities">Utilities </mat-option>
                                <mat-option value="Other">Other </mat-option>
                              </mat-select>
                            </mat-form-field>
                      </div>
                      </div>

                    </div>
                    <div class="sub">
                      <button mat-raised-button id="b4" [disabled]="destactive"   (click)="submit(i)">Send</button>
                    </div>
                  </form>
                    </div>
              </div>
          </div>
          </div>
        </div>
      </div>

  </div>
</div>
</div>




<div class="container" >

<div class="cardspalce">
  <div class="row justify-content-center">
    <div class="col">
      <div class="ct">
        <div class="row justify-content-center">
        <img id="iconsmall" src="../assets/images/c1.PNG" alt="icon1">
      </div>
  <p id="p1"> Comment convertir ?</p>


  <p id="p2">Glissez et déposez votre fichier dans le convertisseur PDF en ligne.
     Les documents Word, Excel, PPT et les images seront convertis en PDF.
    Les fichiers PDF seront convertis vers le type de fichier de votre choix.</p>
</div>
</div>
    <div class="col">
       <div class="ct">
         <div class="row justify-content-center">
        <img id="iconsmall" src="../assets/images/c2.PNG" alt="icon1">
      </div>
      <p id="p1">Ne vous souciez pas de votre sécurité.</p>


      <p id="p2">Votre sécurité est notre priorité.
         Tous nos transferts de fichiers sont sécurisés avec un niveau élevé de cryptage SSL.
        De plus, nous détruisons automatiquement tous les fichiers de nos serveurs.</p>

    </div>
  </div>
    <div class="col">
        <div class="ct">
          <div class="row justify-content-center">
            <img id="iconsmall" src="../assets/images/c3.PNG" alt="icon3">
          </div>

      <p id="p1">Ne vous souciez pas de votre sécurité.</p>


      <p id="p2">Vous n'avez pas besoin de vous enregistrer ou d'installer un logiciel.
         Le convertisseur PDF en ligne fonctionne parfaitement
         sur tous les appareils et les navigateurs les plus courants :
         IE, Firefox, Chrome & Opera.</p>

    </div>
  </div>

    <div class="w-100"></div>
    <div class="col">
       <div class="ct">
        <div class="row justify-content-center">
          <img id="iconsmall" src="../assets/images/c4.PNG" alt="icon4">
        </div>

      <p id="p1">Ne vous souciez pas de votre sécurité.</p>


      <p id="p2">Vérifiez par vous-même ! Pour garantir
        la meilleure qualité de conversion PDF, nous avons
        conclu un partenariat avec Solid Documents -
         le meilleur prestataire de services sur le marché.</p>

    </div>
  </div>
    <div class="col">
       <div class="ct">
        <div class="row justify-content-center">
          <img id="iconsmall" src="../assets/images/c5.PNG" alt="icon5">
        </div>

      <p id="p1" >Ne vous souciez pas de votre sécurité.</p>


      <p id="p2">Vous pouvez créer ou convertir des PDF au même endroit.
         Notre PDF creator prend en charge les formats suivants :
          Excel, Word, PPT, JPG, PNG, BMP, TIFF et GIF.
      </p>

    </div>
  </div>
    <div class="col">
      <div class="ct">
        <div class="row justify-content-center">
          <img id="iconsmall" src="../assets/images/c6.PNG" alt="icon6">
        </div>

      <p id="p1">Accéder de partout</p>

      <p id="p2">Vous pouvez accéder au convertisseur gratuit de fichiers PDF où
        que vous soyez grâce à une connexion Internet.
         Le convertisseur PDF Smallpdf fonctionne entièrement sur le cloud.</p>

    </div>
  </div>

  </div>

</div>
<div>
  <div ><hr /></div>
<div class="container">

  <div class="row">
    <div class="col">
<img class="imgOcr" src="../assets/images/ocr.png" alt="ocr image">    </div>
    <div class="col">
      <div class="ct2">
        <h3 id="hh3">Comment convertir un fichier d'un autre format en PDF en ligne :</h3>
        <ol>
          <li> <span class="nb">1.</span>Uploade ton document dans notre convertisseur PDF en ligne.</li>
          <li><span class="nb">2.</span>   Notre outil uploadera et convertira instantanément ton fichier en PDF</li>
          <li><span class="nb">3.</span>  Compresse, édite ou modifie le document final, si nécessaire.</li>
          <li><span class="nb">4.</span>  Télécharge le PDF sur ton ordinateur, ou exporte-le sur Dropbox ou Google Drive.</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div ><hr /></div>

</div>
</div>
<app-footer></app-footer>
</body>
</html>