<footer class="footer-section">
<div class="align-container">
    <div class="titre">
    <h2>Obtenir Flashcode maintenant, et gratuitement !</h2>
</div>
<div ><hr /></div>
<div class="ct3">
    Comme 8 millions de personnes, devenez, vous aussi, un serial shopper en téléchargeant le scanner QR Codes,
    Codes-barres et Cartes de fidélité Flashcode sur les plateformes AppStore et Google Play !
</div>
<div class="row justify-content-center">
<div class="btn-block">
    <a class=" animated fadeInLeftShort" rel="nofollow" target="_blank" href="https://itunes.apple.com/fr/app/flashcode-officiel-scanner-qr-code/id329168540?mt=8"><img src="../../assets/images/appstore.png" alt="ios-store" /></a>
    <a class=" animated fadeInRightShort" rel="nofollow" target="_blank" href="https://play.google.com/store/apps/details?id=com.mtag.flashcode&hl=fr"><img src="../../assets/images/googleplay.png" alt="app-store" /></a>
</div>
</div>
</div>

</footer>