.footer-section{
    display: block;
    background-color: #303133;
}

.align-container{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}
.titre{
    margin-top: 104px;
    color: white;
    line-height: 28px;
text-align: center;
}
hr{
    border: 0;
  clear:both;
  width: 10%;
  background-color:#128C7E;
  height: 1px;
  margin-top: 56px;
margin-bottom: 48px;

}
.ct3{
    color: white;
    text-align: center;
    width: 100%;
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 48px;

}

.btn-block{
    padding: 60px 0;
display: block;
margin-left: 30%;
margin-right: auto;}
.btn-block img{
width: 260px;
height: 74.68px;
margin-left: 32px;
}

